.el-row {
  margin-bottom: 20px;
  vertical-align: middle;
}
.el-col{
  display: block;
}
label{
  display: inline-block;
  width: 120px;
  text-align: right;
  vertical-align: -webkit-baseline-middle;
}
