.hot-page {
    justify-content: center;
  }
  
.item-box {
    background: #fff;
    padding: 15px 0;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
table {
    margin: 20px 0 0 80px;
  }
  
tr {
    display: flex;
    flex-wrap: wrap;
    width: 625px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  
td {
    width: 125px;
    padding: 10px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
  }